---
import type { Album } from "@/types";
import { createContentfulClient } from "@/contentful/create-client";
import { image } from "@/contentful/image";
import { formatAlbumDate } from "@/contentful/format-date";
import Layout from "@/layout.astro";

export async function getStaticPaths() {
  const client = createContentfulClient();

  const albums = await client.getEntries<Album>({
    include: 0,
    limit: 1000,
    content_type: "album",
    select: ["fields.slug"],
  });

  return albums.items.map((item) => ({ params: { slug: item.fields.slug } }));
}

const { slug } = Astro.params as { slug: string };

const client = createContentfulClient();

const entries = await client.getEntries<Album>({
  limit: 1,
  include: 10,
  content_type: "album",
  "fields.slug": slug,
});

const album = entries.items[0];
if (!album) throw new Error("missing album");

const displayDate = formatAlbumDate(album);
---

<Layout>
  <div>
    <h2 class="text-xl my-4 flex gap-2 justify-between">
      <span>{album.fields.title}</span>
      <time datetime={album.fields.startDate}>{displayDate}</time>
    </h2>

    <section class="flex flex-col gap-2">
      {
        album.fields.images?.map((asset, i) => {
          if (!asset) throw new Error(`empty asset`);

          const mobile = image(asset, { width: 600 });
          const desktop = image(asset, { width: 1200 });

          if (!desktop || !mobile) return null;

          const imageElement = (
            <img
              src={desktop.src}
              srcset={`${mobile.src} 600w, ${desktop.src}`}
              sizes="(max-width: 600px) 600px"
              width={mobile.width + "px"}
              height={mobile.height + "px"}
              loading={i === 0 ? "eager" : "lazy"}
              class={asset.fields.description ? "rounded-b-none" : ""}
              style={{ backgroundImage: `url(${mobile.placeholder})` }}
            />
          );

          if (asset.fields.description) {
            return (
              <figure>
                {imageElement}

                <figcaption class="bg-[rgba(var(--c-vanilla),0.05)] -mt-2 rounded-b-md p-2 pt-4 leading-[1.1] tracking-[0.4px] text-base md:p-4 md:pt-5">
                  {asset.fields.description}
                </figcaption>
              </figure>
            );
          }

          return imageElement;
        })
      }
    </section>
  </div>
</Layout>
