---
import Layout from "src/layout.astro";
import { getPosts } from "src/notion/post";
import { getGalleries } from "src/notion/gallery";
import { Image } from "astro:assets";

const posts = await getPosts(true);
const galleries = await getGalleries(true);
---

<Layout title="Marissa & Isaac's Adventures">
  {
    posts.map((post) => {
      if (post.slug) {
        return (
          <a class="block" href={`/blog/${post.slug}`}>
            {post.title}
            {post.image && <Image src={post.image} alt="" width={200} height={200} />}
          </a>
        );
      }
    })
  }
  {
    galleries.map((gallery) => {
      if (gallery.slug) {
        return (
          <a class="block" href={`/gallery/${gallery.slug}`}>
            {gallery.title}
          </a>
        );
      }
    })
  }
</Layout>
